.Project-Card {
  border: inherit;
}

.Project-Card-Footer {
  border: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x-card-description {
  text-overflow: ellipsis;
}

.card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
