div.Xyshma-About div.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}

.About-Card {
  border: none !important;
}

.About-Card-Link::after {
  content: "\e96a";
  font-family: "fontisto";
  font-size: 12px;
  margin-left: 10px;
}
