@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .Blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

:root {
  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    YELLOW COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Yellow-Dim: #f3ab3f;
  --Yellow: #ee991a;
  --Yellow-Light: rgb(238, 153, 26, 0.3);

  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    BLUE COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Blue: #4285f4;
  --Blue-700: #3367ee;
  --Blue-600: #3b76f1;
  --Blue-500: #4285f1;
  --Blue-400: #5f98f4;
  --Blue-300: #7baaf7;
  --Blue-200: #a1c2fa;
  --Blue-100: #c6dafc;
  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    RED COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Red: #ea592a;
  --Red-900: #e64814;

  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    GREEN COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Green: #34a853;
  --Green-900: #34a853e6;
  --Green-900: #34a853cc;
  --Green-900: #34a853b3;
  --Green-900: #34a85399;
  --Green-900: #34a85380;
  --Green-900: #34a85366;
  --Green-900: #34a8534d;
  --Green-900: #34a85333;
  --Green-900: #34a8531a;
  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    BLACK COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Black: #000000;
  --Black-900: #000000e6;
  --Black-800: #000000cc;
  --Black-700: #000000b3;
  --Black-600: #00000099;
  --Black-500: #00000080;
  --Black-400: #00000066;
  --Black-300: #0000004d;
  --Black-200: #00000033;
  --Black-100: #0000001a;
  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    GRAY COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Dark-Gray: #17181c;
  --Dark-Gray-100: #f8f9fc;
  --Dark-Gray-200: #eaecf4;
  --Dark-Gray-300: #dddfeb;
  --Dark-Gray-400: #d1d3e2;
  --Dark-Gray-500: #b7b9cc;
  --Dark-Gray-600: #858796;
  --Dark-Gray-700: #6e707e;
  --Dark-Gray-800: #5a5c69;
  --Dark-Gray-900: #3a3b45;
  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    WHITE COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --White: #ffffff;
  /* 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    TRANSPARENTS COLORS FAMILY 
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  */
  --Overlay-Light: rgba(0, 0, 0, 0.4);
  --Overlay-Dark: rgba(0, 0, 0, 0.8);
  --Black-Zero-Opacity: rgba(0, 0, 0, 0);
  /* Borders */
  --Border-Gray: rgba(0, 0, 0, 0.06);
  /* Nagivation */
  --NavBar-Padding-LR: 2.575rem;
  --NavBar-Padding-TB: 0.5rem;
}
