/* 
*******************************************************************
  DEFAULT STYLINGS
*******************************************************************
*/
:root {
  --Dark-Blue: #06283d;
  --Blue: #1363df;
  --Sky-Blue: #47b5ff;
  --Light-Blue: #dff6ff;
}

.bg-dark-blue {
  background-color: var(--Dark-Blue) !important;
}
.bg-blue {
  background-color: var(--Blue) !important;
}
.bg-sky-blue {
  background-color: var(--Sky-Blue) !important;
}
.bg-light-blue {
  background-color: var(--Light-Blue) !important;
}

.text-dark-blue {
  color: var(--Dark-Blue) !important;
}
.text-blue {
  color: var(--Blue) !important;
}
.text-sky-blue {
  color: var(--Sky-Blue) !important;
}
.text-light-blue {
  color: var(--Light-Blue) !important;
}
/* 
*******************************************************************
  AUTHENTICATION STYLINGS
*******************************************************************
*/
div.auth-cover-background {
  background-color: #dff6ff;
}

div.row {
  height: 100vh;
  margin: auto 0 !important;
}

img.auth-illustration {
  width: 350px;
  margin-bottom: 2rem;
}

div.capitalfx-logo {
  margin-bottom: 1rem;
}

div.capitalfx-logo > span {
  font-size: 2rem;
}

div.capitalfx-logo > span:first-child {
  font-family: "Open Sans SemiBold";
}

div.capitalfx-logo > span:last-child > span {
  font-family: "Roboto Black";
}

p.auth-side-description {
  font-family: "Open Sans";
}
