.About-Header {
  background: url("../image/About-Header-Cover-Image.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-bottom: 6.25rem;
}

.About-Header-Overlay {
  width: 100%;
  height: 100%;
  background-color: var(--Overlay-Light);
  padding: var(--NavBar-Padding-TB) var(--NavBar-Padding-LR);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.About-Yahaya-Name {
  color: var(--White);
  font-size: 2.5rem;
  font-family: "Roboto Black" !important;
  text-transform: uppercase;
}

.About-Yahaya-Profession {
  color: var(--White);
  font-size: 1.4rem;
  font-family: "Open Sans Light" !important;
}
